<div (mousedown)="startDragging($event)"
     (mousemove)="drag($event)"
     (mouseup)="stopDragging($event)"
     (mouseout)="stopDragging($event)"
     (click)="markSelected()"
     class="drag-handle">
  <img [src]="spriteDef.src"
       [style.width]="scaledWidth + 'px'"
       [style.height]="scaledHeight + 'px'">
</div>
<span class="handle left-handle"></span>
<span class="handle right-handle"></span>
<span class="handle top-handle"></span>
<span class="handle bottom-handle"></span>
<span class="handle top-left-handle"></span>
<span class="handle top-right-handle"></span>
<span class="handle bottom-left-handle"></span>
<span class="handle bottom-right-handle"></span>
