<header></header>
<section>
  <aside>

    <app-assets></app-assets>

    <div class="spacer"></div>

    <app-sprite-properties *ngIf="selectedSprite"
                           [sprite]="selectedSprite"></app-sprite-properties>

  </aside>

  <main (keyup)="handleShortcuts($event)" tabindex="0">
    <app-stage></app-stage>
  </main>

  <aside>
    <app-layer-tree></app-layer-tree>
  </aside>

</section>
<footer>
  <div class="left"></div>
  <div class="right">
    dimensioni stage
    <span>{{ stage.width }}x{{ stage.height }}</span>
    <button (click)="stageActions.zoomOut()">-</button>
    <span>{{ stage.zoom }}</span>
    <button (click)="stageActions.zoomIn()">+</button>
  </div>
</footer>
